.summary_title_report_usa {
  background-color: #875A7B;
  color: #FFF;
}

.summary_title_report_usa th {
  border: 3px solid #FFF;
  padding: 10px;
}

.summary_values_report_usa {
  width: 100px;
  color: #666666;
  padding-right: 8px;
  text-align: right;
  border-bottom: 1px solid #eee;
}

.summary_values_total_report_usa {
  font-weight: bold;
}

.summary_values_empty_line {
  padding-top: 30px;
}

.summary_values_print {
  color: #000;
}

.o_account_reports_level0_no_border {
  border-bottom: none !important;
}

// Add border for first cell of header in followup report
.followup_report_header {
  border: 1px solid #e6e6e6;
  border-collapse: separate;
  padding-right: 8px;
  padding-left: 8px;
}

// Make last cell in deposit table align-right
table[name="deposit_section"] tbody tr td:last-child {
  text-align: right !important;
}
