.account_report_header_left {
  text-align: left;
  white-space: nowrap;
}

.account_report_header_right {
  text-align: right;
  white-space: nowrap;
}

.account_report_header_center {
  text-align: center;
  white-space: nowrap;
}
